:root {
    --text: #EBECD0;
    --text-bright: #FFF;
    --text-toned: #BBB;
  
    --theme-hue: 240deg;
    --theme-sat: 70%;
    --theme-lum: 60%;

    --background: hsl(var(--theme-hue), var(--theme-sat), var(--theme-lum));
    --background-darker: hsl(var(--theme-hue), var(--theme-sat), calc(var(--theme-lum) - 18.5%));
    --background-dark: hsl(var(--theme-hue), var(--theme-sat), calc(var(--theme-lum) - 8.5%));
    --background-light: hsl(var(--theme-hue), var(--theme-sat), calc(var(--theme-lum) + 8.5%));
    --background-very-light: hsl(var(--theme-hue), var(--theme-sat), calc(var(--theme-lum) + 18.5%));
}  

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(var(--background-dark) 2em, white 50em);
    overflow: hidden;
}

.games {
    width: 80%;
    justify-self: center;
}

.main-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.grid {
    position: relative;
    bottom: 145vh;
    z-index: 0;
}

.row {
    display: flex;
    justify-content: center;
    font-size: calc(5vh + 3vw);
}

.cell {
    width: calc(5vh + 5vw);
    text-align: center;
    padding: 0.1em;
    border-radius: 0.01em;
    border: solid black 0.03em;
    background-color: var(--background);
    cursor: pointer;
    user-select: none;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.cell:hover,
.main-menu-container button:hover {
    background-color: var(--background-very-light);
}

.emptyCell {
    width: calc(5vh + 5vw);
    border-radius: 0.01em;
    border: solid black 0.03em;
    text-align: center;
    padding: 0.1em;
    cursor: pointer;
    user-select: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.main-buttons button{
    text-align: center;
    padding: 0.2em;
    font-size: large;
    border-radius: 0.4em;
    border: solid black 0.15em;
    background-color: var(--background-light);
    cursor: pointer;
    user-select: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: bold;
    transition: all 0.1s ease;
}

.timer {
    text-align: end;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: bold;
    transition: all 0.1s ease;
}

.menu-base {
    height: 75vh;
}

.menuicon {
    text-align: center;
    padding: 0.2em;
    font-size: large;
    border-radius: 0.4em;
    border: solid black 0.15em;
    background-color: var(--background-light);
    cursor: pointer;
    user-select: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: bold;
    transition: all 0.1s ease;
}

.menuicon:hover, 
.main-buttons button:hover {
    background-color: aliceblue;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    justify-content: center;
    height: 100%;
    border-radius: 1em;
    border: solid black 0.3em;
    background-color: var(--background-dark);
    margin: auto;
    z-index: 1; 
    transition: all 0.1s ease;
}

.menu button:hover,
.exit-characters:hover {
    background-color: var(--background);
}

.menu h1 {
    margin-bottom: 0;
    grid-column: 2;
    text-align: center;
    font-size: 400%;
    color: var(--text-bright);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    user-select: none;
}

.menu h2 {
    grid-column: 2;
    font-size: 200%;
    margin: auto;
    color: var(--text-bright);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    user-select: none;
}

.menu img {
    grid-column: 2;
    margin: 0 auto  0 auto;
    width: 70%;
}

.menu button {
    grid-column: 2;
    user-select: none;
    margin-bottom: 2em;
    font-size: 200%;
    background-color: var(--background-light);
    border-radius: 1em;
    border: solid 0.1em black   ;
    color: var(--text-bright);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    cursor: pointer;
}

.menu-details-wrapper {
    height: 100%;
    z-index: 1000;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.menu-details-wrapper.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.menu-details-wrapper.visible {
    position: relative;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.guide-details-wrapper {
    height: 100%;
    position: relative;
    bottom: 151vh;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.guide-details-wrapper.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}
  
.guide-details-wrapper.visible {
    z-index: 1001;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.exit-modes {
    position: relative;
    right: 10%;
    rotate: 90deg;
    grid-column: 3;
    grid-row: 1;
    font-size: 350%;
    align-self: start;
    justify-self: end;
    border-radius: 0.15em;
    border: solid black;
    background-color: var(--background-light);
    color:black;
    cursor: pointer;
    height: fit-content;
    text-align: center;
    user-select: none;
}


.exit-modes:hover {
    background-color: var(--background);
}

.modes-details-wrapper {
    position: relative;
    height: 100%;
    bottom: 76vh;
    transition: transform 0.2s ease, opacity 0.2s ease;
} 

.modes-details-wrapper.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }
  
.modes-details-wrapper.visible {
    z-index: 1000;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.main-header {
    color: var(--text-bright);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 400%;
    padding-bottom: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.game-over {
    position: relative;
    bottom: 150vh;
    height: 75vh;
    border-radius: 1em;
    border: solid black 0.3em;
    background-color: rgb(18, 201, 82);
    margin: auto auto 30vh auto;
}

.game-over h2 {
    text-align: center;
    font-size: 300%;
    padding-bottom: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    color: var(--text-bright);
}

.game-over p {
    text-align: center;
    font-size: 150%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 3.5em;
}

.leaderboard-wrapper {
    height: 75vh;
    position: relative;
    bottom: 75vh;
    transition: transform 0.2s ease, opacity 0.2s ease;
    
}

.leaderboard-wrapper.visible {
    pointer-events: auto;
    transform: translateY(0);
    z-index: 1000;
    opacity: 1;
}

.leaderboard-wrapper.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.leaderboard {
    padding-left: 2em;
    padding-right: 2em;
    height: 100%;
    border-radius: 1em;
    border: solid black 0.3em;
    background: var(--background-very-light);
}

.exit-leaderboard {
    position: absolute;
    right: 3%;
    font-size: 300%;
    border-radius: 0.15em;
    border: solid black 0.05em;
    background-color: var(--background-light);
    color:black;
    cursor: pointer;
    user-select: none;
    rotate: 90deg;
}

.leaderboard h2 {
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    font-size: 200%;
    padding-bottom: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-bright);
}

.leaderboard h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-bright);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.leaderboard .buttons {
    display: flex;
    justify-content: center;
}

.buttons .selected {
    background-color: var(--background);
}

.leaderboard button {
    user-select: none;
    background-color: var(--background-light);
    width: 7em;
    padding: 0.5em;
    border-radius: 1em;
    border: solid 0.2em black   ;
    color: var(--text-bright);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    cursor: pointer;
}

.leaderboard button:hover, .exit-leaderboard:hover {
    background-color: var(--background-very-light);
}

.leaderboard-table-container {
    height: 70%;
    overflow-y: scroll;
    background-color: var(--background-light);
    border-radius: 0.2em;
    border: solid black 0.2em;
}

.leaderboard table {
    border-spacing: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 60em;
    font-size: large;
}

.leaderboard th {
    text-align: left;
}

.leaderboard td {
    max-width: 4em;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.submit-form {
    justify-content: center;
    margin-left: 6em;
    font-size: large;
    margin-right: 4em;
    margin-top: 2em;
    padding: 1em 0 1em 1em;
    border-radius: 0.5em;
    border: solid black 0.01em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    background-color: rgb(33, 231, 76)
}

.submit-form input {
    font-size: large;
    border-radius: 0.2em;
    margin-right: 0.1em;

}

.submit-form button {
    user-select: none;
    background-color: var(--background-light);
    width: 5em;
    padding: 0.5em;
    height: 2.2em;
    border-radius: 0.2em;
    border: solid 0.1em black;
    color: var(--text-bright);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    cursor: pointer;   
}

.submit-form button:hover {
    background-color: var(--background-very-light);
}

.score {
    animation: blinker 2s linear infinite;
    background-color: var(--background-very-light);
}

@keyframes blinker {
    50% {
      opacity: 0.5;
    }
}
